In [1]:
import numpy as np
import pandas as pd

In [2]:
df_train = pd.read_csv('./train.csv')

In [3]:
df_train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [4]:
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [6]:
df_train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [8]:
df_train['Sex'] = pd.get_dummies(df_train['Sex'],drop_first=True)

df_train['Age'].fillna(df_train['Age'].mean(),inplace=True)

df_train.dropna(inplace=True)

embarked_encoded = pd.get_dummies(df_train['Embarked'])
df_train = pd.concat([df_train,embarked_encoded],axis=1)

df_train = df_train.drop(['Name','Cabin','Ticket','Embarked','PassengerId'],axis=1)

In [9]:
df_train.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
C           0
Q           0
S           0
dtype: int64

In [10]:
for i in df_train.columns:
    print(i,df_train[i].unique())

Survived [1 0]
Pclass [1 3 2]
Sex [0 1]
Age [38.         35.         54.          4.         58.         34.
 28.         19.         29.69911765 49.         65.         45.
 29.         25.         23.         46.         71.         21.
 47.         24.         32.5        37.         36.5        22.
 61.         56.         50.          1.          3.         44.
  2.         40.         31.         32.         62.         30.
 52.         63.         36.          0.92       17.         18.
 16.         45.5        41.         60.         27.         33.
 14.         64.         48.         55.         39.         53.
 42.         80.         15.         70.          6.         51.
 57.         43.         11.         26.        ]
SibSp [1 0 3 2]
Parch [0 1 2 4]
Fare [ 71.2833  53.1     51.8625  16.7     26.55    13.      35.5    263.
 146.5208  76.7292  61.9792  83.475   10.5      7.65    61.175   34.6542
  63.3583  77.2875  52.     247.5208  22.3583  26.2833  79.2     26.
  66.6     55.      33.5     30.6958  28.7125  39.      50.      27.7208
  10.4625  31.     113.275   76.2917  90.      52.5542  86.5     79.65
   0.     153.4625 135.6333  29.7     77.9583  91.0792  12.875  151.55
  30.5     12.35   108.9     56.9292  83.1583 262.375  164.8667 134.5
  57.9792  28.5     35.      75.25    69.3     55.4417 211.5    120.
   8.05    55.9     81.8583  27.75    89.1042  38.5     13.7917  78.2667
  26.2875  34.0208  93.5    221.7792  49.5     71.     106.425  110.8833
  39.6     51.4792  26.3875  40.125   32.3208  30.      25.5875 512.3292
 211.3375  57.     227.525   49.5042  78.85    12.475    7.75    25.9292
  39.4     50.4958   5.    ]
C [1 0]
Q [0 1]
S [0 1]

In [11]:
X = df_train.drop(['Survived'],axis=1)
X

     Pclass  Sex   Age  SibSp  Parch     Fare  C  Q  S
1         1    0  38.0      1      0  71.2833  1  0  0
3         1    0  35.0      1      0  53.1000  0  0  1
6         1    1  54.0      0      0  51.8625  0  0  1
10        3    0   4.0      1      1  16.7000  0  0  1
11        1    0  58.0      0      0  26.5500  0  0  1
..      ...  ...   ...    ...    ...      ... .. .. ..
871       1    0  47.0      1      1  52.5542  0  0  1
872       1    1  33.0      0      0   5.0000  0  0  1
879       1    0  56.0      0      1  83.1583  1  0  0
887       1    0  19.0      0      0  30.0000  0  0  1
889       1    1  26.0      0      0  30.0000  1  0  0

[202 rows x 9 columns]

In [12]:
y = df_train['Survived']
y

1      1
3      1
6      0
10     1
11     1
      ..
871    1
872    0
879    1
887    1
889    1
Name: Survived, Length: 202, dtype: int64

In [13]:
from sklearn.neighbors import KNeighborsClassifier

In [14]:
model = KNeighborsClassifier()

In [15]:
model.fit(X,y)

KNeighborsClassifier()

In [16]:
df_test = pd.read_csv('./test.csv')

In [17]:
from sklearn.metrics import accuracy_score

In [18]:
accuracy_score = accuracy_score(model.predict(X),y)

In [19]:
accuracy_score

0.7722772277227723

In [20]:
import pickle

In [21]:
Pkl_Filename = "model.pickle"  

with open(Pkl_Filename, 'wb') as file:  
    pickle.dump(model, file)

In [22]:
pickle_model = pickle.load(open("model.pickle", "rb"))

In [23]:
# print(accuracy_score = accuracy_score(pickle_model.predict(X),y))
pickle_model.predict(X)

array([1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       0, 1, 1, 1], dtype=int64)

In [24]:
X.shape

(202, 9)

In [27]:
array = np.array(X.iloc[0])

In [28]:
array

array([ 1.    ,  0.    , 38.    ,  1.    ,  0.    , 71.2833,  1.    ,
        0.    ,  0.    ])